/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1440px) {
html{
	font-size: 13px;
}
.header-logo{
	padding: 2rem;
}
.logo-svg{
	min-width: 6rem;
}
.header-nav{
	padding-left: 2rem;
}
.header-nav-item:not(:last-child){
	margin-right: 1rem;
}
.header-phone{
	margin-right: 2rem;
}
}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {
	html{
		font-size: 12px;
	}
	.container{
		max-width: 70rem;
	}
	.header-phone{
		display: none;
	}
	.navbar{
		height: 5rem;
	}
	.navbar-button{
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.slider-buttons{
		display: flex;
	}
	.steps-buttons{
		display: flex;
	}
}

/* md <= Large (lg) */
@media (max-width : 992px) {
	html{
		font-size: 12px;
	}
	.container{
		max-width: 70rem;
	}
	.header-nav{
		display: none;
	}
	.header-logo{
		flex-grow: 1;
		justify-content: center;
	}
	.mobile-menu-toggle {
		width: 80px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1.8rem;
		border-right: 1px solid rgba(235, 235, 240, 0.20);
	}
	.navber-light .mobile-menu-line{
		background-color: #333;
	}
	.mobile-menu-line {
		height: 1px;
		background-color: #fff;
		width: 100%;
		transition: transform 0.2s;
	}
	.mobile-menu-line:nth-child(2){
		width: 80%;
	}
	.header-button .button-text{
		display: none;
	}
	.header-button .button-icon{
		display: block;
		fill: #fff;
	}
	.mobile-menu{
		position: fixed;
		top:0;
		right: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		z-index: 2;
		background-color: #fff;
		padding-top: 5rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.mobile-menu.is-open{
		display: block;
	}
	.mobile-menu-nav {
		list-style: none;
		padding: 0;
	}
	.mobile-menu-link{
		text-decoration: none;
		font-size: 14px;
		font-weight: 700;
		line-height: 160%;
		color: #292D33;
	}
	.mobile-menu-nav-item {
		margin-bottom: 2rem;
	}
	.mobile-submenu {
		list-style: none;
		padding: 0;
		padding-left: 1rem;
		margin-top: 1rem;
	}
	.mobile-submenu-link{
		text-decoration: none;
		font-size: 14px;
		font-weight: 400;
		line-height: 160%;
		color: #828A99;
	}
	.mobile-phone{
		display: block;
		font-size: 20px;
		font-weight: 600;
		line-height: 160%; /* 32px */
		text-decoration-line: underline;
		color:#292D33;
		border-top: 1px solid #EBEBF0;
		padding-top: 2rem;
		margin-bottom: 1.5rem;
	}
	.mobile-info{
		display: flex;
		gap: 1rem;
		margin-bottom: 0;
	}
	.mobile-info:nth-child(1){
		margin-bottom: 0;
	}
	.mobile-info:nth-last-child(2){
		margin-bottom: 1.3rem;
	}
	.mobile-info-address, 
	.mobile-info-email{
		text-decoration: none;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
		color:#292D33;
	}
	.mark-icon{
		display: flex;
		align-items: center;
	}

	.close-menu .mobile-menu-line:nth-child(2){
		display: none;
	}
	.close-menu .mobile-menu-line:nth-child(1){
		transform: rotate(45deg) translateY(10px);
	}
	.close-menu .mobile-menu-line:nth-child(3){
		transform: rotate(-45deg) translateY(-10px);
	}
}

/* sm <= Medium (md) */
@media (max-width : 768px) {
	.container{
		max-width: 55rem;
	}
	.header-title{
		font-size: 4rem;
	}
	.header-content{
		padding-top: 3rem;
	}

}

/* xs <= Small (sm) */
@media (max-width : 576px) {
	.container{
		max-width: 90%;
	}
	.header-title{
		font-size: 2rem;
	}
	.header-content{
		padding-top: 1rem;
	}

}

